html{
    position: relative;
}
body{
    background-color: #343a40;
}
.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

.carousel-inner{
    height: 400px;
}
.dropdown-menu{
    background-color: #343A40;
}
.dropdown-menu a{
    color: #007bff;
}
.zonaAlta .navSuperior{
    background-color: #0A199C;
    text-align: center;
    font-size: 22pt;
    font-weight: 800;
}
.enunciado{
    background: rgba(164,179,87,1);
    margin: 20px 0px 20px 0px;
}
.zonaMedia{
    height: 500px;
    margin-bottom: 250px;
    width: 100%;
}
button{
    align-content: center;
}
#iconos{
    margin: 0px 15px 0px 15px;
}
p.EnunciadoProductoDestacado{
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 30pt;
}
.zonaMedia .carrouselCards{
    width: 80%;
    margin-left: 10%;
}
footer{
    position: relative;
    background-color: black;
    
    bottom: 0;
    height: 250px;
    padding: 2% 0% 24% 0%;
}
footer div.LadoIzq{
    margin-left: 3%;
    float: left;
    width: 45%;
}
footer div.LadoDer{
    margin-left: 0%;
    float: right;
    width: 47%;
}
button #registro{
    margin-right: 50%;
}
footer div.registrarse button{
    margin-top: 10px;
    margin-left: 50%;
}
footer div.LadoDer table tr td img{
    margin: 0px 100px 0px 100px;
}
footer div.LadoDer p{
    text-align: center;
}
footer div.LadoDer table{
    margin-left: 16%;
}
p.texto{
    color: white;
    font-size: 12pt;
}
p.centrado{
    color: red;
    text-align: center;
}